.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: #3d5a80;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    color: #fff;
}

.add-form {
    margin-top: 20px;
}

.add-form input {
    width: 350px;
    margin-right: 20px;
}

.wrongButton {
    color: #212529;
    background-color: #fff;
    border-color: #840f1f;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(244 , 67 , 54, 0.25);
}